<% @page_title = "Production Main Menu" %>
<% @previous_controller = 'mems' %>
<% @previous_action = 'login' %>
<% @page_module = "production" %>

<div class='row'>
	<div class="small-10 small-centered columns">
		<div class='small-4 columns'>
		<center><%= link_to image_tag("mbsl_40x40_Icon.png"), {:controller => 'wallpanel_production', :action => 'index', :method => :get} %></center> 
		</div>	
		<div class='small-4 columns'>
	    <center><%= link_to image_tag("mmsl_logo_40.png"), {:controller => 'pod_production', :action => 'index', :method => :get}%></center>
	    </div>	
		<div class='small-4 columns'>
	    	<center><%= link_to image_tag("mmpl_40x40_Icon.png"), {:controller => 'rollform_production', :action => 'index', :method => :get} %></center>
	    </div>
    </div>
</div>
<div class='row'>
<div class="small-10 small-centered columns">
<hr />
</div>
</div>
<div class='row'>
	<div class="small-10 small-centered columns">
		<div class='small-4 columns'>
    		<center><%= link_to("Wall Panel Assembly", {:controller => 'wallpanel_production', :action => 'index', :method => :get}, class: "button small round secondary") %></center>
    	</div>
    	<div class='small-4 columns'>
     		<center><%= link_to("Pod Assembly", {:controller => 'pod_production', :action => 'index', :method => :get}, class: "button small round secondary") %></center>
     	</div>	
 		<div class='small-4 columns'>
    		<center><%= link_to("Roll Forming", {:controller => 'rollform_production', :action => 'index', :method => :get}, class: "button small round secondary") %></center>
		</div>
	</div>
<hr />
</div>
