<% @page_module = 'production' %>
<% @page_sub_module = 'truss_coil_change' %>
<% case @trans_code 
      when "VRS" then @page_access = 'versa' 
      when "OPA" then @page_access = 'offline_panel'
      when "NCN" then @page_access = 'scan_truss' 
   end %>

<%= error_messages_for(@current_coil) %>

  <div class='row'>
    <div class='small-4 columns'>
      <%= f.label(:coil_complete, "Return Previous to Inventory", class: 'prefix')%>
    </div>
    <div class='small-8 columns'>  
       &emsp;&emsp;  <%= f.check_box(:coil_complete, class: 'check-box')%><br />
    </div>  
  </div><br />
  <div class='row'>
    <div class='small-4 columns'>
      <%= f.label(:smartcard_reading, "Smart Card Reading", class: 'prefix') %>
    </div>
    <div class='small-8 columns'>    
      <%= f.text_field(:smartcard_reading) %>     
      <%= f.hidden_field :station, :value => 3 %>
    </div>
  </div>
  <div class='row'>
    <div class='small-4 columns'>
      <%= f.label(:lot, "Coil Label", class: 'prefix') %>
    </div>
    <div class='small-8 columns'>
      <%= f.text_field(:lot) %>
    </div>
  </div>
<!--
<script type="text/javascript">
window.onload = function() {
  document.getElementById('wallpanel_tracking_panellabel').focus();
}
</script>
{:tabindex => '1'}
-->
<script type="text/javascript">
function setFocus(){
document.getElementById("truss_coil_change_coillabel").focus();
}
</script>