<table bgcolor = "#DCDCDC" summary = "Width Calc Results" align="center">
	<tr>
		<td width = '160' bgcolor = "#FFFFFF" ><center><h3><b>Coil Specifications</b></h3></center></td>
		<td bgcolor = "#FFFFFF" width = '160'><center><%= image_tag('CJoistSmall.png', size: "60", alt: "Stud") %> <br /><b> Stud </b></center></td>
		<td bgcolor = "#FFFFFF" width = '160'><center><%= image_tag('StructuralTrackSmall.png', size: "60", alt: "Track") %> <br /><b> Track </b></center></td>
	</tr>
</table>
	<table bgcolor = "#FFFFFF" summary = "Width Calc Results" align="center">
	<tr>
		<td bgcolor= "#DCDCDC" width = '160'>Coil Width (Inches):          </td>
		<td width = '100' bgcolor = "#FFFFFF"><center><%= number_with_precision((params[:results][4].to_f), precision: 4) %></center></td>
		<td bgcolor= "#DCDCDC" width = '100'><center><%= number_with_precision((params[:results][5].to_f), precision: 4) %></center></td>
	</tr>
	<tr>
		<td bgcolor = "#DCDCDC" width = '160'>SqFt/Foot:</td>
		<td width = '100' bgcolor = "#FFFFFF"><center><%= number_with_precision((params[:results][6].to_f), precision: 4) %></center></td>
		<td bgcolor= "#DCDCDC" width = '100'><center><%= number_with_precision((params[:results][7].to_f), precision: 4)%></center></td>
	</tr>
	<tr>
		<td bgcolor = "#DCDCDC" width = '160'>Pounds/Foot:  </td>
		<td width = '100' bgcolor = "#FFFFFF"><center><%= number_with_precision((params[:results][8].to_f), precision: 4)%></center></td>
		<td bgcolor= "#DCDCDC" width = '100'><center><%= number_with_precision((params[:results][9].to_f), precision: 4)%></center></td>
	</tr>
	<tr>
		<td bgcolor = '#DCDCDC' Swidth = '160'>Coil Gauge:  </td>
		<td width = '160' bgcolor = '#FFFFFF'><center><%= params[:results][10] %></center></td>
		<td width = '160' bgcolor = '#DCDCDC'><center><%= params[:results][10] %></center></td>
		
	</tr>
	<tr>
		<td bgcolor = '#DCDCDC' width = '160'>Coil Mils:  </td>
		<td width = '160' bgcolor = '#FFFFFF'><center><%= params[:results][11] %></center></td>
		<td width = '160' bgcolor = '#DCDCDC'><center><%= params[:results][11] %></center></td>
	</tr>
</table>
<hr />
<table width = "480" align="center">
	<tr>
		<td width = '160'>
			<div>
				<!--
				<%= link_to(image_tag("backtohome2-emboss.png"), {controller: "mems", action: "index", method: :get}) %>
				-->
			</div>
		</td>
		<td width = '160'>
			<%= button_to "New Profile", "widthNew", :method => :get %>

		</td>
		<td width = '160'>
			&nbsp;
		</td>
	</tr>
</table>

	