<div class='row'>
	<div class='small-4 columns'>
	&nbsp;
	</div>
	<div class='small-4 columns', align='center'>
		<%= image_tag('CJoistSmall.png', size: "40", alt: "Stud") %> <br /> Stud
	</div>
	<div class='small-4 columns', align='center'>
		<%= image_tag('StructuralTrackSmall.png', size: "40", alt: "Track") %> <br /> Track
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label class='prefix right' >Coil Width (Inches): &nbsp;</label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= number_with_precision((params[:results][4].to_f), precision: 4)%></label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= number_with_precision((params[:results][5].to_f), precision: 4)%></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label class='prefix right' >SqFt/Foot: &nbsp;</label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= number_with_precision((params[:results][6].to_f), precision: 4) %></label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= number_with_precision((params[:results][7].to_f), precision: 4)%></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label class='prefix right'>Pounds/Foot: &nbsp;</label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= number_with_precision((params[:results][8].to_f), precision: 4)%></label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= number_with_precision((params[:results][9].to_f), precision: 4)%></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label class='prefix right'>Coil Gauge: &nbsp;</label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= params[:results][10] %></label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= params[:results][10] %></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label class='prefix right'>Coil Mils: &nbsp;</label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= params[:results][11] %></label>
	</div>
	<div class='small-4 columns', align='center'>
		<label class='prefix center'><%= params[:results][11] %></label>
	</div>
</div>
<br />
<div class='row'>
	<div class='small-12 small-centered columns', align='center'>
			<%= link_to('New Profile', {:action => 'widthNew', :method => :get}, class: 'button small secondary round')%>
	</div>
</div>