
<META HTTP-EQUIV="refresh" CONTENT="1800">


<br />
<div class='row'>
  <div class='small-8 small-centered columns', align='center'>
    <h4 class='subheader'>Panel Assembly Production</h4>
  </div>
</div>

<div class="row">
<div class="small-8 small-centered columns", align='center'> 
<table style = "background-color: #FFFFFF", border = 1>
<thead>
  <tr>
      <th width = '20%' style = "background-color: #F5F5F5"></th>
      <th width = '20%' style = "background-color: #F5F5F5">Current<br />Day</th>
      <th width = '20%' style = "background-color: #F5F5F5">Previous<br />Day</th>   
      <th width = '20%' style = "background-color: #F5F5F5">Previous<br />7 Days</th>
      <th width = '20%' style = "background-color: #F5F5F5">Previous<br />30 Days</th>
  </tr>
</thead>
<tbody>  
  <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Linear Footage</th>
      <td width = '20%'><%= number_with_delimiter(@dayfootage) %></td> 
      <td width = '20%'><%= number_with_precision(@prevdayfootage, :precision => 2, :delimiter => ",") %></td>
      <td width = '20%'><%= number_with_precision(@wtdfootage, :precision => 2, :delimiter => ",") %></td>
      <td width = '20%'><%= number_with_precision(@mtdfootage, :precision => 2, :delimiter => ",") %></td>
    </tr>
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Square Footage</th>
      <td width = '20%', align = center><%= number_with_precision(@daysqfootage, :precision => 2, :delimiter => ",") %></td> 
      <td width = '20%', align = center><%= number_with_precision(@prevdaysqfootage, :precision => 2, :delimiter => ",") %></td>
      <td width = '20%'><%= number_with_precision(@wtdsqfootage, :precision => 2, :delimiter => "," )%></td>
      <td width = '20%'><%= number_with_precision(@mtdsqfootage, :precision => 2, :delimiter => ",") %></td>
    </tr>
    <tr>
      <th width = '20%', style = "background-color: #F5F5F5">Poundage</th>
      <td width = '20%'><%= number_with_precision(@daypoundage, :precision => 2, :delimiter => ",") %></td> 
      <td width = '20%'><%= number_with_precision(@prevdaypoundage, :precision => 2, :delimiter => ",") %></td>
      <td width = '20%'><%= number_with_precision(@wtdpoundage, :precision => 2, :delimiter => ",") %></td>
      <td width = '20%'><%= number_with_precision(@mtdpoundage, :precision => 2, :delimiter => ",") %></td>
    </tr>
    <tr>
      <th width = '20%', style = "background-color: #F5F5F5">Panel Count</th>
      <td width = '20%'><%= number_with_delimiter(@daypanelcount) %></td> 
      <td width = '20%'><%= number_with_delimiter(@prevdaypanelcount) %></td>
      <td width = '20%'><%= number_with_delimiter(@wtdpanelcount) %></td>
      <td width = '20%'><%= number_with_delimiter(@mtdpanelcount) %></td>
    </tr>
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Production Days</th>
      <td width = '20%'> -- </td> 
      <td width = '20%'> -- </td>
      <td width = '20%'><%= @wtddays %></td>
      <td width = '20%'><%= @mtddays %></td>
    </tr>
</tbody>
</table>
</div>
</div>

<div class='row'>
  <div class='small-8 small-centered columns', align='center'>
    <h4 class='subheader'>Daily Averages</h4>
  </div>
</div>
<div class="row">
<div class="small-8 small-centered columns", align='center'> 
<table style = "background-color: #FFFFFF", border = 1 >
 <tbody>     
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Footage</th> 
      <td width = '20%'> -- </td>
      <td width = '20%'> -- </td>
      <td width = '20%'><%= number_with_delimiter(@avgwtdfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgmtdfootage) %></td>
    </tr>
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Square Footage</th> 
      <td width = '20%'> -- </td>
      <td width = '20%'> -- </td>
      <td width = '20%'><%= number_with_delimiter(@avgwtdsqfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgmtdsqfootage) %></td>
    </tr>
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Poundage</th> 
      <td width = '20%'> -- </td>
      <td width = '20%'> -- </td>
      <td width = '20%'><%= number_with_delimiter(@avgwtdpoundage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgmtdpoundage) %></td>
    </tr>
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Panel Count</th> 
      <td width = '20%'> -- </td>
      <td width = '20%'> -- </td>
      <td width = '20%'><%= number_with_delimiter(@avgwtdpanelcount) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgmtdpanelcount) %></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
 <div class='row'>
  <div class='small-8 small-centered columns', align='center'>
    <h4 class='subheader'>Panel Averages</h4>
  </div>
</div>   
  <div class="row">
<div class="small-8 small-centered columns", align='center'> 
<table style="background-color: #FFFFFF", border = 1 >
   <tbody>    
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Footage</th> 
      <td width = '20%'><%= number_with_delimiter(@dayavgpanelfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@prevdayavgfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgwtdpanelfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgmtdpanelfootage) %></td>
    </tr>
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5", align = center>Square Footage</th><td width = '20%'><%= number_with_delimiter(@dayavgpanelsqfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@prevdayavgpanelsqfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgwtdpanelsqfootage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgmtdpanelsqfootage) %></td>
    </tr>
    <tr>
      <th width = '20%' style = "background-color: #F5F5F5">Poundage</th> 
      <td width = '20%'><%= number_with_delimiter(@dayavgpanelpoundage) %></td>
      <td width = '20%'><%= number_with_delimiter(@prevdayavgpanelpoundage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgwtdpanelpoundage) %></td>
      <td width = '20%'><%= number_with_delimiter(@avgmtdpanelpoundage) %></td>
    </tr>
  </tbody>
  </table>
  </div>
  <br />
  <hr>
  </div>