<% @page_module = 'production' %>
<% @page_sub_module = 'truss_rollformer' %>
<% case @trans_code 
      when "VRS" then @page_access = 'versa' 
      when "OPA" then @page_access = 'offline_panel'
      when "NCN" then @page_access = 'scan_truss' 
   end %>

<%= error_messages_for(@truss_roll_forming) %>

<table align=center > 
  	<tr>
    <th><%= f.label(:trusslabel, "Truss Label") %></th>
    <td><%= f.text_field(:trusslabel) %> </td>
        <%= f.hidden_field :trans_code, :value => @trans_code %>
        <%= f.hidden_field :users_id, :value => session[:user_id] %>
        <%= f.hidden_field :workstation, :value => 3 %>
  </tr>
</table>

<center>
<%= @prodprocessed %>
</center>

<!--
<script type="text/javascript">
window.onload = function() {
  document.getElementById('wallpanel_tracking_panellabel').focus();
}
</script>
{:tabindex => '1'}
-->
<script type="text/javascript">
function setFocus(){
document.getElementById("truss_rollformer_trusslabel").focus();
}
</script>