<% @page_title = 'Truss Roll Forming' %>
<% @previous_controller = 'rollform_production' %>
<% @previous_action = 'index' %>
<% @page_module = 'production' %>
<% @page_sub_module = 'truss_rollformer' %>
<% @page_access = 'truss_scan' %>



<!--
<script type="text/javascript">
window.onload = function() {
  document.getElementById('wallpanel_tracking_panellabel').focus();
}
</script>
-->

<div class="truss tracking new">
  <h2>Truss ID</h2>
  <%= form_for(@truss, :url => {:action => 'create'}) do |f| %>
    
    <%= render(:partial => "scan_truss", :locals => {:f => f}) %>
    
    <br>

    <div class="form-buttons">
      <%= submit_tag("Submit Truss") %>
    </div>
    <br />
    <hr />
     <%= render(:partial => "current_coil", :locals => {:f => f}) %>
    <hr />

      <table width="100%">
    <tr>
      <td width="33%" align="left">
        <%= link_to  image_tag('button_Scanned_Trusses.png'), :action => 'show', :method => 'get', scanned: 'scanned', :transcode => @trans_code %>
      </td>
      <td width="33%" align="center">
        <%= link_to  image_tag('trussesNotScanned.png'), :action => 'show', :method => 'get', scanned: 'unscanned', :transcode => @trans_code %>
      </td>
      <td width="33%" align="right">
       <%= 
         link_to image_tag('button_Send_Message.png'), :controller => 'wallpanel_tracking', :action => 'send_ncn_notification'   %>
      </td>
    </tr>
   </table>    

     <hr>
<% end %>

