<% @page_title = "Inventory Details" %>
<% @previous_controller = 'inventory' %>
<% if params[:procure] %>
<% @previous_controller = 'inventory' %>
<% @previous_action = 'dashboard' %>
<% else %>
<% @previous_controller = 'inv-balances' %>
<% @previous_action = 'index' %>
<% end %>
<% @page_module = '' %>
<% @page_access = 'invbal_details' %>


<div class='row'>
	<div class='small-1 small-offset-11 columns', align = 'right'>
		<%= link_to image_tag('excel-30.png'), controller: "inv_lot", action: "show", format: 'xls', item_number: @itemnumber,item_masters_id: @itemmastersid, procure: params[:procure], company: params[:company] %>
	</div>
</div>

<div class='row'>
	<div class='small-12 small-centered columns', align='center'>
		<div class='panel secondary'>
			<h5 class='subheader'>Details for: <%= params[:item_number] %></h5>	
			<%if session[:secgroup].include?('procure') %>
			<h6 class='subheader'>Click Lot Number to View Cost Layer (Security required)</h6>	
			<% end %>
		</div>
		<div class='row'>
			<table id='invlots' class='display responsive no-wrap' align='center'>
				<thead>
					<tr>
						<th > Lot          </th>
						<th > Bin          </th>
						<th > Current Qty  </th>
						<th > Original Qty </th>
						<th > Good Usage   </th>
						<th > Scrap Usage  </th>
						<th > On Hold      </th>   
						<th > Active       </th>
						<th > Date Received </th>
					</tr>	
				</thead>
				<tbody>
					<% @invlots.each do |invlot| %>
					<tr>
						<% if session[:secgroup].include?('procure') || session[:secgroup].include?('admin') || session[:secgroup].include?('mgmt') %>
						<td><%= link_to(invlot.lot , controller: "inv_cost_layer", action: "show", lot: invlot.lot, item_number: @itemnumber, procure: @procure, company: @company) %></td>
						<% else %>
						<td><%= invlot.lot %></td>
						<% end %>
						<td><%= invlot.bin %></td>
						<td><%= number_with_precision(invlot.curr_qty, :precision => 2, :delimiter => ",") %></td>
						<td><%= number_with_precision(invlot.orig_qty, :precision => 2, :delimiter => ",") %></td>
						<td><%= number_with_precision(invlot.good_usage, :precision => 2, :delimiter => ",") %></td>
						<td><%= number_with_precision(invlot.scrap_usage, :precision => 2, :delimiter => ",") %></td>
						<td><%= invlot.qa_hold %></td>
						<td><%= invlot.active %></td>
						<td><%= localize(invlot.created_at, :format => :long) %></td>
					</tr>
					<% end %>
				</tbody>	
			</table>		
		</div>
	</div>
</div>