<% @page_title = 'Wall Panel Tracking' %>
<% @previous_controller = 'wallpanel_production' %>
<% @previous_action = 'index' %>
<% @page_module = 'production' %>
<% @page_sub_module = 'wallpanel' %>
<% @page_access = 'panel_tracking' %>
<% @transcode = params[:transcode]%>

<div class='row'>
	<div class='small-12 columns', align='center'>
		<% if params[:scanned] == 'scanned' %>
		<h4 class="subheader" align='center'>Scanned Panels Last 7 Days</h4> 
		<% else %>
		<h4 class="subheader" align='center'>Panels Not Scanned</h4>
		<% end %>
	</div>
</div>

<div class='row'>
	<div class="small-10 small-centered columns", align="center">
		<table id="scanpan" class="display responsive">
			<thead>
				<tr>
					<th> Wall Mark     </th>
					<th> Panel Label   </th>
					<th> Length        </th>
					<th> Height        </th>
					<th> Weight        </th>   
					<th> Assembly Date </th>
					<th> Trans Code    </th> 
				</tr>	
			</thead>
			<tbody>
				<% @scannedtoday.each do |panel| %>
				<tr>
					<td><%= panel.panelnumber %></td>
					<td><%= panel.panellabel %></td>
					<td><%= panel.length %></td>
					<td><%= panel.height %></td>
					<td><%= panel.weight %></td>
					<td><%= localize(panel.updated_at, :format => :long) %></td>
					<td><%= panel.status %></td>
				</tr>
				<% end %>
			</tbody>	
		</table>	
	</div>
</div>
