<% @page_title = "User Login" %>

  <%= form_tag(:action => 'attempt_login') do %>
    <div class="row">
    <div class="small-4 small-centered columns">
    <div class="small-4 columns">
        <%= label_tag(:username, "Username", class: "prefix") %>
    </div>
    <div class= "small-8 columns">  
        <%= text_field_tag(:username) %>
    </div>
  </div>
</div>
    </div>
  <div class="row">
   <div class="small-4 small-centered columns">
      <div class="small-4 columns">
      <%= label_tag(:password, "Password", class: "prefix") %>
      </div>
      <div class= "small-8 columns">  
      <%= password_field_tag(:password) %>
     </div>
    </div>
</div>

<div class="row">
  <div class="row">
    <div class="small-4 small-centered columns">
      <center><%= submit_tag("Log In", class: "button medium round secondary") %></center>
    </div>
  </div>
</div>      
<% end %>

