<% @page_title = "Landing Page" %>

<!--
<hr>
<br />
<table width = "100%">
<tr>
<th>
<div>
	 <%= link_to image_tag("tmgl_logo-4.png"), "http://magest.com", :target => "_blank" %>
</div>
</th>
</tr>
</table>
<br />
<hr>
<br />
<br />
<br />
<table width = "100%">
	<tr>
		<td width = "33%" >
          <%= image_tag("magest-building-systems-web-cropped.png") %>
		</td>
		<td width = "33%">
          <%= image_tag("magest-metal-products-web-cropped.png") %>
		</td>
		<td>
          <%= image_tag("magest-modular-solutions-web-cropped.png") %>	
		</td>
	</tr>
</table>
<br />
<hr>
<br />
-->
<br />
<table width = "100%">
<tr>
<td width = "20%"; align = center>
<div> 
	<%= link_to image_tag("reportIcon1-trans-120.png"), "http://192.168.0.206:8087/jasperserver/login.html", :target => "_blank", :class => "button" %>
</div>
</td>	
<td width = "20%"; align = center>
<div>
	<%= link_to image_tag("calculator1.png"), "coil_width/widthNew", :method => :get, :target => "_blank", :class => "button" %>
</div>
</td>
<td width = "20%"; align = center>
<div>
	<%= link_to image_tag("login1.png"), "mems_login/login", :method => :get, :target => "_blank", :class => "button" %>
</div>
</td>

<td width = "20%"; align = center>
<div>
	<%= link_to image_tag("calculator1.png"), "coil_length/lengthNew", :method => :get, :target => "_blank", :class => "button" %> 
</div>
</td>
<td width = "20%"; align = center>
<div>
    <%= link_to image_tag("video_icon120.png"), "media/index", :target => "_blank", :class => "button"  %> 
	<!--
	<%= link_to image_tag("network_attached_storage_icon-trans-120.png"), "https://192.168.0.205:5001", :target => "_blank", :class => "button"  %> 
-->
</div>
</td>
</tr>
<tr >
	<th font-color: #D9D9D9; width = "20%">
		Jasper Reports Server
	</th>
	<th font-color = "#D9D9D9"; width = "20%">
		Coil Width Calculator
	</th>
	<th font-color = "#D9D9D9"; width = "20%">
		Login to MEMS
	</th>
	
	<th font-color: #D9D9D9; width = "20%">
		Coil Length Calculator
	</th>
	<th font-color: #D9D9D9; width = "20%">
		Job Site Media
	</th>
</tr>
</table>
<br />
<hr>
<br />
