<% @page_module = 'inventory_count' %>
<% @page_sub_module = 'scan_coil' %>
<% @company = params[:company] %>
<% @itemcateg = params[:itemcateg] %>


<%= error_messages_for(@scan_coil) %>


<div class="row">
  <div class="small-6 small-centered medium-6 medium-centered large-4 large-centered columns ">
    <div class="small-4 columns">
      <%= f.label(:lotserial, "Coil Label", class: "prefix") %>
    </div>
    <div class="small-8 columns">
       <%= f.text_field(:lotserial) %>
        <%= f.hidden_field :company, :value => @company %>
        <%= f.hidden_field :itemcateg, :value => @itemcateg %>
        <%= f.hidden_field :users_id, :value => session[:user_id] %>
    </div>
  </div>
</div>

<script type="text/javascript">
function setFocus(){
document.getElementById("inventory_counts_lotserial").focus();
}
</script>