<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Length (Feet): &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<label class='prefix center'><%= number_with_precision((params[:results][4].to_f), precision: 4) %></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Weight (Lbs.): &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<label class='prefix center'><%= number_with_precision((params[:results][6].to_f), precision: 4) %></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Pounds Per Foot: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<label class='prefix center'><%= number_with_precision((params[:results][5].to_f), precision: 4) %></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Square Footage: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<label class='prefix center'><%= number_with_precision((params[:results][7].to_f), precision: 4)%></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Coil Gauge: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<label class='prefix center'><%= params[:results][8] %></label>
	</div>
</div>
<div class='row'>
	<div class='small-4 columns'>
		<label for='fract1', class='prefix right'>Coil Mils: &nbsp;</label>
	</div>
	<div class='small-8 columns'>
		<label class='prefix center'><%= params[:results][9] %></label>
	</div>
</div>
<br />
<div class='row'>
	<div class='small-12 small-centered columns', align='center'>
		<%= link_to('New Coil', {:action => 'lengthNew', :method => :get}, class: 'button small secondary round')%>
	</div>
</div>
 