<% @page_title = "Inventory Main Menu" %>
<% @previous_controller = 'mems_login' %>
<% @previous_action = 'index' %>
<% @page_module = "inventory" %>

<br />
<table width="80%" align="center">
	<tr>
		<td width="33%" align="center">
			<%= image_tag("magest_60x60_Icon.png") %> <br> MBSL </td>
	    <td width="33%" align="center">
	    	<%= image_tag("mmsl_logo_60.png") %> <br /> MMSL </td>
	    <td width="33%" align="center">
	    	<%= image_tag("magest_BlkWht_60x60_Icon.png") %> <br> MMPL </td>
	</tr>
    <tr>
    	<td width="33%" align="center">
    		
    	</td>
    	<td width="33%" align="center">
     		
 		</td>
 		<td width="33%" align="center">
    		
	    </td>
	 </tr>
	    <tr>
    	<td width="33%" align="center">
    		<%= if !InvCountMasters.find_by(:is_active => 1).blank?
                link_to("Inventory Count ", :controller => 'inventory_count', :action => 'index', :method => :get, company: 'MBSL')  end %> 
    	</td>
    	<td width="33%" align="center">
     		
 		</td>
 		<td width="33%" align="center">
    	<br />
    		<%= link_to("Inventory Dashboard", :controller => 'inventory', :action => 'dashboard', :method => :get, company: 'MMPL') %> 
	    </td>
	 </tr>
	     <tr>
    	<td width="33%" align="center">
    		
    	</td>
    	<td width="33%" align="center">
     		
 		</td>
 		<td width="33%" align="center">
 			<br />
    		<%= link_to("Inventory Details", :controller => 'inv_balance', :action => 'show', :method => :get, company: 'MMPL') %>
	    </td>
	 </tr> 
     <tr>
        <td width="33%" align="center">
            
        </td>
        <td width="33%" align="center">
           
        </td>
        <td width="33%" align="center">
            <br />
            <%= if !InvCountMasters.find_by(:is_active => 1).blank?  
            link_to("Inventory Count", :controller => 'inventory_count', :action => 'index', :method => :get, company: 'MMPL') end %>
        </td>
     </tr> 
</table>
<br />
<hr>
