<table summary = "Width Calc Fields" bgcolor = "#ffffff" align="center">
	<tr>
		<!-- D9D9D9 -->
		<td width = '150' bgcolor = '#DCDCDC'>
			&nbsp;
		</td>
		<td width = '185' bgcolor = '#DCDCDC'>Inches (6 5/8 or 6.625)</td>	
	</tr>	
	<tr>
		<td width = "150" bgcolor = "#DCDCDC">1st Value:</td>
		<td width = "185" bgcolor = "#DCDCDC"><%= params[:results][0] %></td>
	</tr>
	<tr>
		<td width = "150" bgcolor = "#DCDCDC">2nd Value:</td>
		<td width = "185" bgcolor = "#DCDCDC"><%= params[:results][1] %></td>
	</tr>
	<tr>
		<td width = "150" bgcolor = "#DCDCDC">3rd Value:</td>
		<td width = "185" bgcolor = "#DCDCDC"><%= params[:results][2] %></td>
	</tr>
	<tr>
		<td width = "150" bgcolor = "#DCDCDC">4th Value:</td>
		<td width = "185" bgcolor = "#DCDCDC"><%= params[:results][3] %></td>
	</tr>
	<tr>
		<td width = "150" bgcolor = "#DCDCDC">5th Value:</td>
		<td width = "185" bgcolor = "#DCDCDC"><%= params[:results][4] %></td>
	</tr>
	<tr>
		<th width = "150" align = "left" bgcolor = "#DCDCDC">Total:</td>
		<th width = "185" align = "left"  bgcolor = "#DCDCDC"><%= params[:results][5] %></td>
	</tr>
</table>
<hr />
<table width = "480" align="center">
	<tr>
		<td width = '160'>
			<div>
				<!--
				<%= link_to(image_tag("backtohome2-emboss.png"), {controller: "mems", action: "index", method: :get}) %>
				-->
			</div>
		</td>
		<td width = '160'>
			<%= button_to "New Calculation", "index", :method => :get %>

		</td>
		<td width = '160'>
			&nbsp;
		</td>
	</tr>
</table>
