
		<div class='row'>
			<div class='small-4 columns'>
				<label for='fract1', class='prefix right'></label>
			</div>
			<div class='small-8 columns', align='center'>
				<label class='prefix center'><h5 class='subheader'>Values Entered</h5></label>
			</div>
		</div>
		<div class='row'>
			<div class='small-4 columns'>
				<label class='prefix right'>1st Value:  &nbsp;</label>
			</div>
			<div class='small-8 columns', align='center'>
				<label class='prefix center'><%= params[:results][0] %></label>
			</div>
		</div>
				<div class='row'>
			<div class='small-4 columns'>
				<label for='fract1', class='prefix right'>2nd Value: &nbsp;</label>
			</div>
			<div class='small-8 columns', align='center'>
				<label class='prefix center'><%= params[:results][1] %></label>
			</div>
		</div>
				<div class='row'>
			<div class='small-4 columns'>
				<label for='fract1', class='prefix right'>3rd Value: &nbsp;</label>
			</div>
			<div class='small-8 columns', align='center'>
				<label class='prefix center'><%= params[:results][2] %></label>
			</div>
		</div>
				<div class='row'>
			<div class='small-4 columns'>
				<label for='fract1', class='prefix right'>4th Value: &nbsp;</label>
			</div>
			<div class='small-8 columns', align='center'>
				<label class='prefix center'><%= params[:results][3] %></label>
			</div>
		</div>
		<div class='row'>
			<div class='small-4 columns'>
				<label for='fract1', class='prefix right'>5th Value: &nbsp;</label>
			</div>
			<div class='small-8 columns', align='center'>
				<label class='prefix center'><%= params[:results][4] %></label>
			</div>
		</div>
		<div class='row'>
			<div class='small-4 columns'>
				<label for='fract1', class='prefix right'><h5 class='header bold'>Result: &nbsp;</h5></label>
			</div>
			<div class='small-8 columns', align='center'>
				<label class='prefix center'><h5 class='header bold'><%= params[:results][5] %></h5></label>
			</div>
		</div>
		<br />
		<div class='row'>
			<div class='small-4 small-centered columns', align='center'>
				<%= link_to('New Calculation', {:controller => 'calc_fractions', :action => 'index', :method => :get}, class: 'button small secondary round' )%>
			</div>
		</div>
		


